body{
    margin: 0;
}

main{
    padding: 40px;
}
.main-image-paella{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.zeit-schwierigkeit{
    display: flex;
}


.mini-logo{
    width: 16px;
    padding-right: 10px;
}

.kochlogos{
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 100px;
    height: 30px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin: 5px;
    font-size: 12px;
}

.menge{
    display: flex;
}



