/* springrolls.css */
html {
  scroll-behavior: smooth;
}

.main-springrolls {
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  
}


h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

  
h2 {
  font-size: 24px;
}

.main-container-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding-bottom: 32px;
  gap: 25px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border-radius: 8px;
  margin: 5px;
  height: 30px;
  width: 100px;
}

.clock-icon {
  width: 16px;
}

.brain-icon {
  width: 16px;
}

.main-img {
  object-fit: cover;
  height: 200px;
  border-radius: 8px;
  width: 100%;
  object-position: center;

}

button {
  width: 100px;
  height: 35px;
  background-color: #008000;
  color: white;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

input {
  height: 32px;
  width: 33px;
  border: 0.5px solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
  margin: 5px 0px;
  font-size: 12px;
  background-color: #efefef;
}

.section-zutaten-p {
  padding-bottom: 60px;
}


.warning {
  color: red;
  font-size: 14px;
  height: 20px;
  padding: 10px 10px 10px 0px;
}

.zutaten-liste {
  list-style-type: none;
  padding: 0;
}

.zutaten-liste li {
  margin: 5px 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

ul li:nth-child(odd) {
  background-color: #efefef;
  border-radius: 8px;
}

.container-nutrition {
  margin: 0;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
}

tbody {
  background-color: #fafafa;
  text-align: center;
}

table {
  border: none;
  border-collapse: collapse;
}

.eingaben-nutrition {
  font-size: 16px;
  font-weight: 200;
  padding: 16px;
}

.werte-nutrition {
  font-size: 20px;  
  font-weight: 500;
}

.section-zubereitung p {
  overflow-wrap: anywhere;
}

.icon-zubereitung {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #efefef;
  border-radius: 8px;
  height: 30px;
  width: 200px;
}

p {
  margin: 0;
  object-fit: cover;
}

.profil_vinh {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-position: center 20%;
  object-fit: cover;
}

@media(max-width:750px) {

  .main-springrolls {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media(max-width:550px) {

  .main-springrolls {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-main-img {
    height: 150px;
    width: 100%;
  }
  h1 {
    font-size: 24px;
    text-align: center;
    justify-content: center;
  }

  .container-nutrition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-profil {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  li {
    display: flex;
    justify-content: flex-start;
  }

    .input-button {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media(max-width:395px) {
  .main-springrolls {
    padding-left: 15px;
    padding-right: 15px;
  }

  .icon-zubereitung {
    padding: 5px;
  }

  .mobile-icon-container {

    display: flex;
  }

  .eingaben-nutrition {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .werte-nutrition {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 0;
  }

  tbody {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  table {
    width: 250px;

  }
}