/** @format */
body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0px;

}

/*Header CSS Start*/

.logo-header {
  width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding-left: 100px;
  padding-right: 100px;
}
nav {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 105px;
}

.menu-link {
  text-decoration: none;
  color: black;
  padding-left: 20px;
}

.menu-link:hover {
  text-decoration: underline;
  color: green;
}

/*Header CSS Ende*/

/* Main CSS Start*/

main {
  padding-left: 100px;
  padding-right: 100px;
}

.first-section {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-left: 20px;
}
.first-img {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  height: 400px;
  border-radius: 10px 10px 10px 10px;
}

.first-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.open-button {
  display: flex;
}

.second {
  padding-top: 80px;
}
.second-section {
  background-color: #efefef;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}
.second-img {
  width: 400px;
  height: 300px;
  border-radius: 10px;

}

.second-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
  padding-bottom: 80px;
}

.second-h2 {
  text-align: center;
  background-color: #efefef;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px; 

} 

/*Third Section*/

.third-section {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  padding-bottom: 80px;
  padding-top: 80px;
}

.third-h2 {
  text-align: center;
}

.third-img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding-right: 100px;
}

.third-p {
  text-align: left;
}

.third-container {
  width: 850px;
  padding-left: 50px;
}

/* Footer css */
footer {
  background-color: #403b3b;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.footer-logo {
  width: 60px;
  height: 60px;
  filter: invert(100%);
  padding-left: 32px;
}

.media-icon {
  width: 60px;
  height: 60px;
  gap: 20px;
}

.footer-link-space {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.footer-padding-right {
  padding-right: 32px;
}
.footer-link-space:hover {
  text-decoration: underline;
  color: white;
}
.media-icon:hover {
  border: 2px solid white;
  border-radius: 23px;
  text-decoration: none;
  cursor: pointer;
}
